![png](images/ERD.png)

In [88]:
import pandas as pd
from sqlalchemy import create_engine
import pymysql
pymysql.install_as_MySQLdb()

## Change username and password to match your personal MySQL Server settings
username = 'root' # default username for MySQL db is root
password = 'Ao9!#Gt8' # whatever password you chose during MySQL installation.

connection = f'mysql+pymysql://{username}:{password}@localhost/books'
engine = create_engine(connection)
engine

Engine(mysql+pymysql://root:***@localhost/books)

In [89]:
user_df = ('DATA/authors.csv')
pd.read_csv(user_df).head(2)

   id        author_name
0   1       Stephen King
1   2  F.Scott Fitgerald

In [90]:
import mysql.connector as msql
from mysql.connector import Error
try:
    conn = msql.connect(host='localhost', user='root',  
                        password='Ao9!#Gt8')
    if conn.is_connected():
        cursor = conn.cursor()
        cursor.execute("CREATE DATABASE book")
        print("book database is created")
except Error as e:
    print("Error while connecting to MySQL", e)

Error while connecting to MySQL 1007 (HY000): Can't create database 'book'; database exists

In [103]:
import mysql.connector as msql
from mysql.connector import Error

add = ('DATA/authors.csv')

try:
    conn = msql.connect(host='localhost', database='book', user='root', password='Ao9!#Gt8')
    if conn.is_connected():
        cursor = conn.cursor()
        cursor.execute('select database();')
        record = cursor.fetchone()
        print ('You are connected to database:', record)
        cursor.execute('DROP TABLE IF EXISTS User;')
        print('Creating table....')
        cursor.execute('CREATE TABLE User(id FLOAT(2,1), author_name VARCHAR(45))')
        print('User table is created....')
        for i, row in add.iterrows():
            sql = 'INSERT INTO book.user VALUES (%s,%s)'
            cursor.execute(sql, tuple(row))
            print('Record inserted')
            
            conn.commit()
except Error as e:
    print('Error while connecting to MySQL', e)

You are connected to database: ('book',)
Creating table....
User table is created....

AttributeError: 'str' object has no attribute 'iterrows'

In [104]:
books = ('DATA/books.csv')
pd.read_csv(books).head(2)

   id        title  author_id
0   1  The Shining          1
1   2           It          1

In [106]:
import mysql.connector as msql
from mysql.connector import Error

add = ('DATA/authors.csv')

try:
    conn = msql.connect(host='localhost', database='book', user='root', password='Ao9!#Gt8')
    if conn.is_connected():
        cursor = conn.cursor()
        cursor.execute('select database();')
        record = cursor.fetchone()
        print ('You are connected to database:', record)
        cursor.execute('DROP TABLE IF EXISTS Books;')
        print('Creating table....')
        cursor.execute('CREATE TABLE Books(id FLOAT(2,1), title VARCHAR(45), author_id FLOAT(2,1))')
        print('Books table is created....')
        for i, row in add.iterrows():
            sql = 'INSERT INTO book.user VALUES (%s,%s, %s)'
            cursor.execute(sql, tuple(row))
            print('Record inserted')
            
            conn.commit()
except Error as e:
    print('Error while connecting to MySQL', e)

You are connected to database: ('book',)
Creating table....
Books table is created....

AttributeError: 'str' object has no attribute 'iterrows'

In [ ]:
# authors = ('DATA/books.csv')
# pd.read_csv(authors).head(2)

In [ ]:
# favorites = ('DATA/favorites.csv')
# pd.read_csv(favorites).head(2)